$my-black: #000000f2
$my-white: #ebe9e9

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap')

body,
input,
textarea,
button
  font-family: 'Rubik', Arial, Helvetica, sans-serif
  color: $my-white

input,
textarea,
button
  background: transparent
  border: none

input
  border-bottom: 2px solid $my-white

textarea
  resize: none
  border: 1px solid $my-white

body
  background-color: $my-black

.bg-blur
  backdrop-filter: blur(6px)
